<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="WARN" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <logger name="testApp.Logging">
      <level value="DEBUG" />
    </logger>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="log-file.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header] " />
        <param name="Footer" value="[Footer] " />
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x]  - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="WARN" />
      </filter>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="sbcdsc" value="c1,c2,c3" />
    <add key="c1" value="COM100,2400,8,0,1,381000,30,10.0.0.100" />
    <add key="c2" value="COM101,2400,8,0,1,381030,27,10.0.0.101" />
    <add key="c3" value="COM102,2400,8,0,1,381057,27,10.0.0.102" />
    <add key="c4" value="COM103,2400,8,0,1,381084,27,10.0.0.103" />
    <add key="c5" value="COM104,2400,8,0,1,381111,27,10.0.0.104" />

	<add key="sbszgzy" value="" />
	<add key="x11" value="COM106,2400,8,0,1,390003,3,10.0.0.106" />
	  
    <add key="sbzndb" value="jz,qm" />
    <add key="jz" value="COM107,4800,8,0,1,370500,14,10.0.0.107" />
    <add key="qm" value="COM108,4800,8,0,1,370600,26,10.0.0.108" />
    <add key="zp" value="COM110,4800,8,0,1,370400,16,10.0.0.110" />
	
	<add key="sbgh" value="" />
	<add key="sbgh9_1" value="363091,10.0.0.105" />

	<add key="cs" value="zp" />

	  <add key="ebgh" value="ebgh1_1,ebgh1_2,ebgh1_3,ebgh2_1,ebgh2_2,ebgh2_3,ebgh3_1,ebgh3_2,ebgh3_3,ebgh4_1,ebgh4_2,ebgh4_3,ebgh5_1,ebgh5_2,ebgh5_3,ebgh6_1,ebgh6_2,ebgh6_3,ebgh7_1,ebgh7_2,ebgh7_3,ebgh8_1,ebgh8_2,ebgh8_3,ebgh9_1,ebgh9_2,ebgh9_3,ebgh10_1,ebgh10_2,ebgh10_3,ebgh11_1,ebgh11_2,ebgh11_3,ebgh12_1,ebgh12_2,ebgh12_3,ebgh13_1,ebgh13_2,ebgh13_3,ebgh14_1,ebgh14_2,ebgh14_3" />
	  <add key="ebgh1_1" value="362011,10.0.34.23" />
	  <add key="ebgh1_2" value="362012,10.0.34.24" />
	  <add key="ebgh1_3" value="362013,10.0.34.25" />
	  <add key="ebgh2_1" value="362021,10.0.34.26" />
	  <add key="ebgh2_2" value="362022,10.0.34.227" />
	  <add key="ebgh2_3" value="362023,10.0.34.28" />
	  <add key="ebgh3_1" value="362031,10.0.34.29" />
	  <add key="ebgh3_2" value="362032,10.0.34.30" />
	  <add key="ebgh3_3" value="362033,10.0.34.31" />
	  <add key="ebgh4_1" value="362041,10.0.34.32" />
	  <add key="ebgh4_2" value="362042,10.0.34.33" />
	  <add key="ebgh4_3" value="362043,10.0.34.34" />
	  <add key="ebgh5_1" value="362051,10.0.34.35" />
	  <add key="ebgh5_2" value="362052,10.0.34.136" />
	  <add key="ebgh5_3" value="362053,10.0.34.37" />
	  <add key="ebgh6_1" value="362061,10.0.34.38" />
	  <add key="ebgh6_2" value="362062,10.0.34.39" />
	  <add key="ebgh6_3" value="362063,10.0.34.4" />
	  <add key="ebgh7_1" value="362071,10.0.34.41" />
	  <add key="ebgh7_2" value="362072,10.0.34.142" />
	  <add key="ebgh7_3" value="362073,10.0.34.243" />
	  <add key="ebgh8_1" value="362081,10.0.34.44" />
	  <add key="ebgh8_2" value="362082,10.0.34.45" />
	  <add key="ebgh8_3" value="362083,10.0.34.146" />
	  <add key="ebgh9_1" value="362091,10.0.34.47" />
	  <add key="ebgh9_2" value="362092,10.0.34.48" />
	  <add key="ebgh9_3" value="362093,10.0.34.149" />
	  <add key="ebgh10_1" value="362101,10.0.34.50" />
	  <add key="ebgh10_2" value="362102,10.0.34.51" />
	  <add key="ebgh10_3" value="362103,10.0.34.52" />
	  <add key="ebgh11_1" value="362111,10.0.34.153" />
	  <add key="ebgh11_2" value="362112,10.0.34.54" />
	  <add key="ebgh11_3" value="362113,10.0.34.5" />
	  <add key="ebgh12_1" value="362121,10.0.34.156" />
	  <add key="ebgh12_2" value="362122,10.0.34.57" />
	  <add key="ebgh12_3" value="362123,10.0.34.58" />
	  <add key="ebgh13_1" value="362131,10.0.34.159" />
	  <add key="ebgh13_2" value="362132,10.0.34.60" />
	  <add key="ebgh13_3" value="362133,10.0.34.61" />
	  <add key="ebgh14_1" value="362141,10.0.34.62" />
	  <add key="ebgh14_2" value="362142,10.0.34.63" />
	  <add key="ebgh14_3" value="362143,10.0.34.64" />
	  
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <connectionStrings>
    <add name="MYSQL" connectionString="server=192.168.80.228;database=ilpsdb;user=root;pwd=123456;pooling=true" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
