<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

	<appSettings>
		<add key="USED" value="COM4,COM5,COM6,COM9" />
		<add key="COM4" value="COM4,2400,8,0,1,381000,30" />
		<add key="COM5" value="COM5,2400,8,0,1,381030,27" />
		<add key="COM6" value="COM6,2400,8,0,1,381057,27" />
		<add key="COM7" value="COM7,2400,8,0,1,381084,27" />
		<add key="COM8" value="COM8,2400,8,0,1,381111,27" />
		<add key="COM9" value="COM9,2400,8,0,1,390000,9" />
	</appSettings>

	<connectionStrings>
		<add name="MYSQL" connectionString="server=192.168.80.228;database=ilpsdb;user=root;pwd=123456;pooling=true" />
	</connectionStrings>
	
  <runtime>
	
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	
          <dependentAssembly>
	
              <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
	
          </dependentAssembly>
	
      </assemblyBinding>
	
  </runtime>
</configuration>