<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<root>
			<level value="WARN" />
			<appender-ref ref="LogFileAppender" />
			<appender-ref ref="ConsoleAppender" />
		</root>
		<logger name="testApp.Logging">
			<level value="DEBUG" />
		</logger>
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<param name="File" value="log-file.txt" />
			<param name="AppendToFile" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="Header" value="[Header] " />
				<param name="Footer" value="[Footer] " />
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x]  - %m%n" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="DEBUG" />
				<param name="LevelMax" value="WARN" />
			</filter>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
			</layout>
		</appender>
	</log4net>
		
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

	<appSettings>
		<add key="WENDU" value="" />
		<add key="CD_C_1" value="COM104,2400,8,0,1,381000,30,192.168.85.250" />
		<add key="CD_C_2" value="COM105,2400,8,0,1,381030,27,192.168.85.251" />
		<add key="CD_C_3" value="COM106,2400,8,0,1,381057,27,192.168.85.252" />
		<add key="CD_C_4" value="COM107,2400,8,0,1,381084,27,192.168.85.253" />
		<add key="CD_C_5" value="COM108,2400,8,0,1,381111,27,192.168.85.254" />
		<add key="ZP_10" value="COM109,2400,8,0,1,390000,3" />
		<add key="ZP_11" value="COM110,2400,8,0,1,390003,3,10.0.0.109" />
		<add key="ZP_12" value="COM111,2400,8,0,1,390006,3" />
		<add key="DIANDU" value="" />
		<add key="CDAQ" value="COM,4800,8,0,1,370100,10" />
		<add key="CDBQN" value="COM113,4800,8,0,1,370200,2,10.0.0.104" />
		<add key="CDBQB" value="COM,4800,8,0,1,370240,10" />
		<add key="CDCQ" value="COM,4800,8,0,1,370300,10" />
		<add key="ZP" value="COM114,4800,8,0,1,370400,10,16,10.0.0.106" />
		<add key="JZ" value="COM115,4800,8,0,1,370500,10,14,10.0.0.107" />
		<add key="QM" value="COM116,4800,8,0,1,370600,10,25,10.0.0.108" />
		<add key="GUHUA" value="" />
		<add key="sbgh9_1" value="360001,10.0.0.105" />
		<add key="sbgh9_2" value="360002,10.0.0.106" />
		<add key="sbgh9_3" value="360003,10.0.0.107" />
		<add key="sbgh1_1" value="360004,10.0.0.108" />
		<add key="sbgh1_2" value="360005,10.0.0.109" />
		<add key="sbgh1_3" value="360006,10.0.0.110" />
		<add key="sbgh2_1" value="360007,10.0.0.111" />
		<add key="sbgh2_2" value="360008,10.0.0.112" />
		<add key="sbgh2_3" value="360009,10.0.0.113" />
		<add key="sbgh3_1" value="360010,10.0.0.114" />
		<add key="sbgh3_2" value="360011,10.0.0.115" />
		<add key="sbgh3_3" value="360012,10.0.0.116" />
		<add key="sbgh4_1" value="360013,10.0.0.117" />
		<add key="sbgh4_2" value="360014,10.0.0.118" />
		<add key="sbgh4_3" value="360015,10.0.0.119" />
		<add key="sbgh5_1" value="360016,10.0.0.120" />
		<add key="sbgh5_2" value="360017,10.0.0.121" />
		<add key="sbgh5_3" value="360018,10.0.0.122" />
		<add key="sbgh6_1" value="360019,10.0.0.123" />
		<add key="sbgh6_2" value="360020,10.0.0.124" />
		<add key="sbgh6_3" value="360021,10.0.0.125" />
		<add key="sbgh7_1" value="360022,10.0.0.126" />
		<add key="sbgh7_2" value="360023,10.0.0.127" />
		<add key="sbgh7_3" value="360024,10.0.0.128" />
		<add key="sbgh8_1" value="360025,10.0.0.129" />
		<add key="sbgh8_2" value="360026,10.0.0.130" />
		<add key="sbgh8_3" value="360027,10.0.0.131" />
	</appSettings>

	<connectionStrings>
		<add name="MYSQL" connectionString="server=192.168.80.228;database=ilpsdb;user=root;pwd=123456;pooling=true" />
	</connectionStrings>
	
  <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
          <dependentAssembly>
              <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
              <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
          </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
         </dependentAssembly>
      </assemblyBinding>
  </runtime>
</configuration>
